<launch>

<rosparam file="$(find New_URDF_export_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="New_URDF_export" args="Revolute 33_position_controller Revolute 34_position_controller Revolute 35_position_controller Revolute 36_position_controller Revolute 37_position_controller Revolute 38_position_controller Revolute 39_position_controller Revolute 40_position_controller Revolute 42_position_controller Revolute 43_position_controller Revolute 44_position_controller Revolute 45_position_controller Revolute 47_position_controller Revolute 48_position_controller Revolute 49_position_controller Revolute 50_position_controller Revolute 51_position_controller Revolute 52_position_controller Revolute 53_position_controller Revolute 54_position_controller Revolute 55_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/New_URDF_export/joint_states"/>
</node>

</launch>